input {
    border: 3px solid black;
    border-radius: 2px;
    background-color: whitesmoke;
    height: 40px;
    width: 300px;
    text-indent: 20px;   /* text in input field is indented */
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 18px;
}

/* when you're typing in input fields */
input:focus {
    /* outline: 2px solid black; */
    background-color: lightgrey;
    color: whitesmoke;
}

button {
    margin-top: 1em;
    border: 2px solid black;
    border-radius: 2px;
    height: 50px;
    width: 200px;
    background-color: rgb(255, 255, 0);
    cursor: pointer;
    font-size: 18px;
}

button:focus {
    outline: none;
}

div {
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}